if error
    each val in error    
        div(class="alert alert-danger alert-dismissible fade show" role="alert")
            strong= val                
            button(type="button" class="close" data-dismiss="alert" aria-label="Close") #[span(aria-hidden="true") &times;] 

            