extends BpanelM.pug
block card
  <div class="card">
      <div class="card-header">
          <h3 class="card-title">Bienvenida</h3>

          <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
          </div>
      </div>
      <div class="card-body"> 
        h5(class="mb-2") <b>Bienvenido a DEDICATIONS API By FunPhotos Systems S.L.
        div(class="row")
          div(class="col-md-12 col-lg-6 col-xl-4")
              div(class="card mb-2 bg-gradient-dark")
              img(class="card-img-top" src="/img/promo4.jpg" alt="Dist Photo 1")
              div(class="card-img-overlay d-flex flex-column justify-content-start")
      </div>
      <div class="card-footer"> Bienvenida
      </div>        
  </div>
      