div(class="row")
    div(class="col-12")
      div(class="card")
        div(class="card-header")
          h3(class="card-title") Expandable Table
        
        <!-- ./card-header -->
        div(class="card-body")
          table(class="table table-bordered table-hover")
            thead
              tr
                th #
                th User
                th Date
                th Status
                th Reason
            tbody
              tr(data-widget="expandable-table" aria-expanded="false")
                td 183
                td John Doe
                td 11-7-2014
                td Approved
                td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              
              tr class="expandable-body">
                td colspan="5">
                  p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  
                
              
              tr data-widget="expandable-table" aria-expanded="true">
                td 219
                td Alexander Pierce
                td 11-7-2014
                td Pending
                td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              
              tr class="expandable-body">
                td colspan="5">
                  p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  
                
              
              tr data-widget="expandable-table" aria-expanded="true">
                td 657
                td Alexander Pierce
                td 11-7-2014
                td Approved
                td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              
              tr class="expandable-body">
                td colspan="5">
                  p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  
                
              
              tr data-widget="expandable-table" aria-expanded="false">
                td 175
                td Mike Doe
                td 11-7-2014
                td Denied
                td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              
              tr class="expandable-body">
                td colspan="5">
                  p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  
                
              
              tr data-widget="expandable-table" aria-expanded="false">
                td 134
                td Jim Doe
                td 11-7-2014
                td Approved
                td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              
              tr class="expandable-body">
                td colspan="5">
                  p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  
                
              
              tr data-widget="expandable-table" aria-expanded="false">
                td 494
                td Victoria Doe
                td 11-7-2014
                td Pending
                td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              
              tr class="expandable-body">
                td colspan="5">
                  p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  
                
              
              tr data-widget="expandable-table" aria-expanded="false">
                td 832
                td Michael Doe
                td 11-7-2014
                td Approved
                td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              
              tr class="expandable-body">
                td colspan="5">
                  p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  
                
              
              tr data-widget="expandable-table" aria-expanded="false">
                td 982
                td Rocky Doe
                td 11-7-2014
                td Denied
                td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
              
              tr class="expandable-body">
                td colspan="5">
                  p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                 
        
        <!-- /.card-body -->
      
      <!-- /.card -->
    
  
  <!-- /.row -->